{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, { ershd, "0.1.0" },
         [ershd,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{escript_main_app, ersh}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [rebar3_hex]}.